{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
	<!-- <link rel="stylesheet" href="static/css/normalize.css" >
	<link rel="stylesheet" href="static/css/styles.css" > -->
    <title>Inform Search</title>

</head>
<body>

			<h1 class="h1title">Inform Search</h1>

			<form method="get" action="{% url 'search_results' %}">
				<label class="label2" for="info_search">Generate a inform:</label>
				<input class="input2" type="text" name="search_text" id="search_text">
				<button class="but2"type="submit" class="redondo">Generate</button>


	<div class="text1">
		<body >

			{% if num_searches %}
				<h2>Search Results for "{{ search_text }}"</h2>
				<h3>Number of Searches:</h3>
				<p>{{ num_searches }}</p>
				<h3>First Search:</h3>
				<p>{{ first_search.search_query }} at {{ first_search.published_at }}</p>
				<h3>Last Search:</h3>
				<p>{{ last_search.search_query }} at {{ last_search.published_at }}</p>
				<h3>Last Number of Searches:</h3>
				<p>{{ search_text }} had :  {{ last_num_searches }} last time</p>
			{% endif %}
		</body>
	</div>
	  <footer ref="index.html"></footer>
</body>	
</html>