<!DOCTYPE html>
<html>
<head>

    <title>Wikipedia Search</title>
	<link rel="stylesheet" href="static/css/normalize.css" >
	<link rel="stylesheet" href="static/css/styles.css" >
</head>
<body>

			<h1 class="h1title">Wikipedia Search</h1>
			<form method="get" action="{% url 'wikipedia_search' %}">
				<label class="label1" for="search">Search in Wikipedia:</label>
				<input class="input1" type="text" name="search" id="search">
				<button class="but1" type="submit" class="redondo">Search</button>
			</form>
			<form method="get" action="{% url 'search_results' %}">
				<label class="label2" for="info_search">Generate a inform:</label>
				<input class="input2" type="text" name="search_text" id="search_text">
				<button class="but2"type="submit" class="redondo">Generate</button>


	<div class="text1">
		<body >
		
		
			{% if title and summary %}
				<h2>Search Results for "{{ search_query }}"</h2>
				<h3>Title:</h3>
				<p>{{ title }}</p>
				<h3>Summary:</h3>
				<p>{{ summary }}</p>
			{% endif %}
	
			{% if num_searches %}
				<h2>Search Results for "{{ search_text }}"</h2>
				<h3>Number of Searches:</h3>
				<p>{{ num_searches }}</p>
				<h3>First Search:</h3>
				<p>{{ first_search.search_query }} at {{ first_search.published_at }}</p>
				<h3>Last Search:</h3>
				<p>{{ last_search.search_query }} at {{ last_search.published_at }}</p>
				<h3>Last Number of Searches:</h3>
				<p>{{ last_num_searches.search_text }} had :  {{ last_num_searches.num_searches }} last time</p>
			{% endif %}
		</body>
	</div>
	  
</body>	